.topic {
    color: white;
    font-size: 55px;
    margin-top: 300px;
    margin-left: 30px;
    position: fixed;
}

.login {
    margin-top: 490px;
    margin-left: 80px;
    position: fixed;
}

.body-back {
    background-image: url(./images/658.jpg);
    background-size: cover;
    height: 890px;
}